.first-div {
  background-color: black;
  color: white;
  font-family: Times New Roman;
}

.first-span {
  color: pink;
}

.second-div h1 {
  color: white;
}

.second-div {
  background-color: rgb(176, 176, 218);
  color: rgb(46, 219, 46);
  border-radius: 2px;
  border-style: dashed;
  font-family: 'Redressed', cursive;
  padding: 10px;
}


